// carousel.scss avec debogage
// SCSS mixin to generate the final CSS code for the slider

// Params:
// - $cssClass: CSS class to match the slider container
// - $slider-length: Length (width or height) of slider container
// - $slider-center: If slider should be centered
// - $slide-width: Fixed width for each slide
// - $slide-height: Fixed height for each slide
// - $vertical: If slider should be vertical (true), or horizontal (false)
// - $reverse: If slider should have reversed slides (first items at the end)

@mixin ms(
  // Default values
  $cssClass: "ms-container",
  $slider-length: 400px,
  $slider-center: false,
  $slide-width: 90px,
  $slide-height: 90px,
  $vertical: false,
  $reverse: false
) {
  // Slider container
  .#{$cssClass} {
    position: relative;
    @if $slider-center {
      margin: 0 auto;
    }
    overflow: hidden;

    @if $vertical {
      // Styles for vertical slider
      &.ms-container--vertical {
        width: $slide-width;
        height: $slider-length;
        max-height: 100%;

        // Centering slider track vertically, to get current slide centered
        .ms-track {
          flex-direction: column;
          top: calc(50% - $slide-height / 2);
        }

        @if $reverse {
          // Reverse styles
          &.ms-container--reverse .ms-track {
            flex-direction: column-reverse;
            top: auto;
            bottom: calc(50% - $slide-height / 2);
          }
        }

        // Positioning slides vertically
        .ms-slide {
          display: flex;
          flex-direction: column;
        }
      }
    } @else {
      // Styles for horizontal slider
      &.ms-container--horizontal {
        width: $slider-length;
        height: $slide-height;
        max-width: 100%;

        // Centering slider track horizontally, to get current slide centered
        .ms-track {
          left: calc(50% - $slide-width / 2);
        }

        @if $reverse {
          // Reverse styles
          &.ms-container--reverse .ms-track {
            flex-direction: row-reverse;
            left: auto;
            right: calc(50% - $slide-width / 2);
          }
        }

        // Positioning slides horizontally
        .ms-slide {
          display: inline-flex;
        }
      }
    }

    // Slider track
    .ms-track {
      display: flex;
      position: absolute;
      white-space: nowrap;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    // Slides
    .ms-slide {
      align-items: center;
      justify-content: center;
      width: $slide-width;
      height: $slide-height;
      user-select: none;
    }
  }
}

// Images

$ms-images-slide-width: 700px;
$ms-images-slide-height: 400px;

// SCSS mixin to generate the final CSS code for the slider
@include ms(
  $cssClass: "ms--images",
  // CSS class to match the slider container
  $slider-length: 100%,
  // The slider container will have full width
  $slider-center: false,
  // Don't need to center it, as it is full width
  $slide-width: $ms-images-slide-width,
  // Fixed width for each slide
  $slide-height: $ms-images-slide-height,
  // Fixed height for each slide
  $vertical: false,
  // The slider should be horizontal
  $reverse: false
);

// Custom styles for images slider
.ms--images {
  left: calc(60% - $ms-images-slide-width / 2);

  &.ms-container--horizontal .ms-track {
    left: -70px;
  }

  // Slides images
  .ms-slide {
    &:nth-child(1) .ms-slide__image {
      background-image: url("../img/computer.jpeg");
    }
    &:nth-child(2) .ms-slide__image {
      background-image: url("../img/project2-immo.JPG");
    }
    &:nth-child(3) .ms-slide__image {
      background-image: url("../img/portrait-profile.png");
    }
    &:nth-child(4) .ms-slide__image {
      background-image: url("../img/project4-portfolio.JPG");
    }
  }

  .ms-slide__image-container {
    width: 80%;
    height: 80%;
    background-color: rgba(var(--bg-color1), 0.3);
    overflow: hidden;
  }

  .ms-slide__image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

// Numbers

$ms-numbers-slide-width: 240px;
$ms-numbers-slide-height: 240px;

@include ms(
  $cssClass: "ms--numbers",
  $slider-length: $ms-numbers-slide-width,
  $slider-center: false,
  $slide-width: $ms-numbers-slide-width,
  $slide-height: $ms-numbers-slide-height,
  $vertical: false,
  $reverse: false
);

.ms--numbers {
  position: absolute;
  left: calc(35% - $ms-images-slide-width / 2);
  top: calc(25% - $ms-images-slide-height / 2);
  z-index: -1;
  pointer-events: none;

  .ms-slide {
    font-family: var(--font-title);
    font-size: 9em;
    font-weight: 900;
    color: rgb(var(--color-button));
  }
}

// Titles

$ms-titles-slide-width: 350px;
$ms-titles-slide-height: 90px;

@include ms(
  $cssClass: "ms--titles",
  $slider-length: $ms-titles-slide-height,
  $slider-center: false,
  $slide-width: $ms-titles-slide-width,
  $slide-height: $ms-titles-slide-height,
  $vertical: true,
  $reverse: true
);

.ms--titles {
  position: absolute;
  left: calc(15% - $ms-titles-slide-width / 2);
  top: calc(40% - $ms-titles-slide-height / 2);
  z-index: 1;
  pointer-events: none;

  .ms-- .ms-track {
    white-space: normal;
  }

  .ms-slide {
    color: rgb(var(--text-color));
    font-family: var(--font-title);
    letter-spacing: 0.15em;
    font-size: 2.5em;

    h4 {
      margin: 0;
      text-shadow: 2px 2px 2px rgb(var(--color-solid));
    }
  }
}

// Descriptions

$ms-descriptions-slide-width: 350px;
$ms-descriptions-slide-height: 90px;

@include ms(
  $cssClass: "ms--descriptions",
  $slider-length: $ms-descriptions-slide-height,
  $slider-center: false,
  $slide-width: $ms-descriptions-slide-width,
  $slide-height: $ms-descriptions-slide-height,
  $vertical: true,
  $reverse: true
);

.ms--descriptions {
  position: absolute;
  left: calc(10% - $ms-titles-slide-width / 2);
  left: calc(15% - $ms-titles-slide-width / 2);
  top: calc(65% - $ms-titles-slide-height / 2);
  z-index: 1;
  pointer-events: none;
  text-align: left;

  .ms-- .ms-track {
    white-space: normal;
  }

  .ms-slide {
    letter-spacing: 0.2em;
  }
}

// Links

$ms-links-slide-width: 120px;
$ms-links-slide-height: 60px;

@include ms(
  $cssClass: "ms--links",
  $slider-length: $ms-links-slide-height,
  $slider-center: false,
  $slide-width: $ms-links-slide-width,
  $slide-height: $ms-links-slide-height,
  $vertical: true,
  $reverse: false
);

.ms--links {
  position: absolute;
  left: calc(20% - $ms-descriptions-slide-width / 2 + 2.5rem);
  top: calc(100% - $ms-descriptions-slide-height / 2);
  z-index: 1;
  pointer-events: none;
  text-align: left;

  .ms-track {
    white-space: normal;
  }

  .ms-slide__link {
    font-weight: 600;
    padding: 5px 0 8px;
    border-bottom: 2px solid rgb(var(--text-color));
    cursor: pointer;
  }
}

// Pagination

.pagination {
  display: flex;
  position: absolute;
  left: 40%;
  top: calc(100%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;

  &__button {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 1px);
      width: 100%;
      box-shadow: 0 1px 4px rgb(var(--color-solid));
    }

    &:before {
      height: 2px;
      background-color: rgb(var(--color-button));
    }

    &:after {
      height: 3px;
      background-color: rgb(var(--color-border));
      opacity: 0;
      transition: 0.8s opacity;
    }
  }
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}

$color-primary: rgba(var(--color-solid), 1);
$color-secondary: rgba(var(--text-color), 0.5);

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(var(--bg-color1), 0.1);

  &:before {
    content: "";
    position: absolute;
    left: -150%;
    top: 0;
    width: 300%;
    height: 100%;
    background-color: rgba(var(--bg-color1), 0.3);
    transform: rotate(45deg);
    z-index: -1;
  }
}

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

// Responsive styles
/* Pour mobile (orientation: portrait) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ms--numbers {
    left: calc(100% - $ms-images-slide-width / 2);
    top: calc(5% - $ms-images-slide-height / 2);
  }

  $ms-images-slide-width: 525px;
  $ms-images-slide-height: 300px;
  @include ms(
    $cssClass: "ms--images",
    $slider-length: 100%,
    $slider-center: false,
    $slide-width: $ms-images-slide-width,
    $slide-height: $ms-images-slide-height,
    $vertical: false,
    $reverse: false
  );

  .ms--images {
    left: calc(50% - $ms-titles-slide-width / 2);
    overflow: visible;

    .ms-slide__image-container {
      width: 90%;
      height: 80%;
    }
  }

  .ms--titles {
    left: calc(50% - $ms-titles-slide-width / 2);
    top: calc(1% - $ms-titles-slide-height / 2);
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;

    .ms-slide {
      transform: scale(0.8);
    }
  }

  .ms--descriptions {
    left: calc(50% - $ms-descriptions-slide-width / 2);
    top: calc(75% - $ms-descriptions-slide-height / 2);
    background-color: rgba(var(--bg-color1), 0.7);
    text-align: center;
  }

  .ms--links {
    left: calc(50% - $ms-links-slide-width / 2);
    top: calc(85% + $ms-links-slide-height / 2);
  }

  .pagination {
    left: 50%;
    top: calc(85% + $ms-links-slide-height / 2 + 5rem);
    transform: translateX(-50%);
  }
}

/* Pour tablette (orientation: paysage) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ms--numbers {
    left: calc(50% - $ms-images-slide-width / 2);
    top: calc(5% - $ms-images-slide-height / 2);
  }

  .ms--titles {
    left: calc(50% - $ms-titles-slide-width / 2);
    top: calc(10% - $ms-titles-slide-height / 2);
    justify-content: center;
    text-align: center;
    font-size: 0.5rem;

    .ms-slide {
      transform: scale(0.8);
    }
  }

  .ms--images {
    left: calc(60% - $ms-images-slide-width / 2);
    overflow: visible;

    &.ms-container--horizontal .ms-track {
      left: -50px;
    }

    .ms-slide__image-container {
      width: 75%;
      height: 75%;
    }
  }

  .ms--titles {
    top: calc(5% - $ms-titles-slide-height / 2);
    font-size: 0.9rem;
  }

  .ms--descriptions {
    left: calc(5% - $ms-descriptions-slide-width / 2);
    top: calc(50% - $ms-descriptions-slide-height / 2);
    text-align: right;
  }

  .ms--links {
    left: calc(50% - $ms-links-slide-width / 2);
    top: calc(80% + $ms-links-slide-height / 2);
    text-align: center;
  }

  .pagination {
    left: 50%;
    top: calc(100% + 15px);
    transform: translateX(-50%);
  }
}

/* Pour Laptop (orientation: paysage) */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .ms--images {
    left: calc(60% - $ms-images-slide-width / 2);

    &.ms-container--horizontal .ms-track {
      left: -50px;
    }

    .ms-slide__image-container {
      width: 75%;
      height: 75%;
    }
  }

  .ms--numbers {
    left: calc(35% - $ms-images-slide-width / 2);
    top: calc(25% - $ms-images-slide-height / 2);
  }

  .ms--titles {
    left: calc(10% - $ms-titles-slide-width / 2);
    top: calc(40% - $ms-titles-slide-height / 2);
  }

  .ms--descriptions {
    left: calc(6% - $ms-descriptions-slide-width / 2);
    top: calc(70% - $ms-descriptions-slide-height / 2);
  }

  .ms--links {
    left: calc(20% - $ms-descriptions-slide-width / 2);
    top: calc(100% - $ms-descriptions-slide-height / 2);
  }
}

/* Pour Screen 4K (orientation: paysage) */
@media all and (min-width: 1441px) {
  $ms-images-slide-width: 1350px;
  $ms-images-slide-height: 800px;
  @include ms(
    $cssClass: "ms--images",
    $slider-length: 100%,
    $slider-center: false,
    $slide-width: $ms-images-slide-width,
    $slide-height: $ms-images-slide-height,
    $vertical: false,
    $reverse: false
  );

  .ms--images {
    left: calc(40% - $ms-images-slide-width / 2);

    &.ms-container--horizontal .ms-track {
      left: -50px;
    }

    .ms-slide__image-container {
      width: 95%;
      height: 95%;
    }
  }

  .ms--numbers {
    left: calc(35% - $ms-images-slide-width / 2);
    top: calc(25% - $ms-images-slide-height / 2);
    overflow: visible;
  }

  .ms--titles {
    left: calc(15% - $ms-titles-slide-width / 2);
    top: calc(25% - $ms-titles-slide-height / 2);
    font-size: 1.5rem;
    overflow: visible;
    text-align: left;
  }

  .ms--descriptions {
    left: calc(6% - $ms-descriptions-slide-width / 2);
    top: calc(70% - $ms-descriptions-slide-height / 2);
    overflow: visible;
  }

  $ms-links-slide-width: 350px;
  $ms-links-slide-height: 120px;

  @include ms(
    $cssClass: "ms--links",
    $slider-length: $ms-links-slide-height,
    $slider-center: false,
    $slide-width: $ms-links-slide-width,
    $slide-height: $ms-links-slide-height,
    $vertical: true,
    $reverse: false
  );
  .ms--links {
    left: calc(6% - $ms-descriptions-slide-width / 2);
    top: 13rem;
  }

  .pagination {
    left: 45%;
    transform: scale(1.5);
  }
}
