.ms--images {
  position: relative;
  overflow: hidden;
}
.ms--images.ms-container--horizontal {
  width: 100%;
  height: 400px;
  max-width: 100%;
}
.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}
.ms--images.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--images .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--images .ms-slide {
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 400px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ms--images {
  left: calc(60% - 350px);
}
.ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}
.ms--images .ms-slide:nth-child(1) .ms-slide__image {
  background-image: url("../img/computer.jpeg");
}
.ms--images .ms-slide:nth-child(2) .ms-slide__image {
  background-image: url("../img/project2-immo.JPG");
}
.ms--images .ms-slide:nth-child(3) .ms-slide__image {
  background-image: url("../img/portrait-profile.png");
}
.ms--images .ms-slide:nth-child(4) .ms-slide__image {
  background-image: url("../img/project4-portfolio.JPG");
}
.ms--images .ms-slide__image-container {
  width: 80%;
  height: 80%;
  background-color: rgba(var(--bg-color1), 0.3);
  overflow: hidden;
}
.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.ms--numbers {
  position: relative;
  overflow: hidden;
}
.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}
.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}
.ms--numbers.ms-container--horizontal .ms-slide {
  display: inline-flex;
}
.ms--numbers .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--numbers .ms-slide {
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ms--numbers {
  position: absolute;
  left: calc(35% - 350px);
  top: calc(25% - 200px);
  z-index: -1;
  pointer-events: none;
}
.ms--numbers .ms-slide {
  font-family: var(--font-title);
  font-size: 9em;
  font-weight: 900;
  color: rgb(var(--color-button));
}

.ms--titles {
  position: relative;
  overflow: hidden;
}
.ms--titles.ms-container--vertical {
  width: 350px;
  height: 90px;
  max-height: 100%;
}
.ms--titles.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 45px);
}
.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 45px);
}
.ms--titles.ms-container--vertical .ms-slide {
  display: flex;
  flex-direction: column;
}
.ms--titles .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--titles .ms-slide {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ms--titles {
  position: absolute;
  left: calc(15% - 175px);
  top: calc(40% - 45px);
  z-index: 1;
  pointer-events: none;
}
.ms--titles .ms-- .ms-track {
  white-space: normal;
}
.ms--titles .ms-slide {
  color: rgb(var(--text-color));
  font-family: var(--font-title);
  letter-spacing: 0.15em;
  font-size: 2.5em;
}
.ms--titles .ms-slide h4 {
  margin: 0;
  text-shadow: 2px 2px 2px rgb(var(--color-solid));
}

.ms--descriptions {
  position: relative;
  overflow: hidden;
}
.ms--descriptions.ms-container--vertical {
  width: 350px;
  height: 90px;
  max-height: 100%;
}
.ms--descriptions.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 45px);
}
.ms--descriptions.ms-container--vertical.ms-container--reverse .ms-track {
  flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 45px);
}
.ms--descriptions.ms-container--vertical .ms-slide {
  display: flex;
  flex-direction: column;
}
.ms--descriptions .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--descriptions .ms-slide {
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ms--descriptions {
  position: absolute;
  left: calc(10% - 175px);
  left: calc(15% - 175px);
  top: calc(65% - 45px);
  z-index: 1;
  pointer-events: none;
  text-align: left;
}
.ms--descriptions .ms-- .ms-track {
  white-space: normal;
}
.ms--descriptions .ms-slide {
  letter-spacing: 0.2em;
}

.ms--links {
  position: relative;
  overflow: hidden;
}
.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}
.ms--links.ms-container--vertical .ms-track {
  flex-direction: column;
  top: calc(50% - 30px);
}
.ms--links.ms-container--vertical .ms-slide {
  display: flex;
  flex-direction: column;
}
.ms--links .ms-track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.ms--links .ms-slide {
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ms--links {
  position: absolute;
  left: calc(20% - 175px + 2.5rem);
  top: calc(100% - 45px);
  z-index: 1;
  pointer-events: none;
  text-align: left;
}
.ms--links .ms-track {
  white-space: normal;
}
.ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  border-bottom: 2px solid rgb(var(--text-color));
  cursor: pointer;
}

.pagination {
  display: flex;
  position: absolute;
  left: 40%;
  top: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}
.pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__button:before,
.pagination__button:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  box-shadow: 0 1px 4px rgb(var(--color-solid));
}
.pagination__button:before {
  height: 2px;
  background-color: rgb(var(--color-button));
}
.pagination__button:after {
  height: 3px;
  background-color: rgb(var(--color-border));
  opacity: 0;
  transition: 0.8s opacity;
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}

a {
  color: rgba(var(--color-solid), 1);
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(var(--bg-color1), 0.1);
}
.container:before {
  content: "";
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(var(--bg-color1), 0.3);
  transform: rotate(45deg);
  z-index: -1;
}

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* Pour mobile (orientation: portrait) */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ms--numbers {
    left: calc(100% - 350px);
    top: calc(5% - 200px);
  }
  .ms--images {
    position: relative;
    overflow: hidden;
  }
  .ms--images.ms-container--horizontal {
    width: 100%;
    height: 300px;
    max-width: 100%;
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: calc(50% - 262.5px);
  }
  .ms--images.ms-container--horizontal .ms-slide {
    display: inline-flex;
  }
  .ms--images .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ms--images .ms-slide {
    align-items: center;
    justify-content: center;
    width: 525px;
    height: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .ms--images {
    left: calc(50% - 175px);
    overflow: visible;
  }
  .ms--images .ms-slide__image-container {
    width: 90%;
    height: 80%;
  }
  .ms--titles {
    left: calc(50% - 175px);
    top: calc(1% - 45px);
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
  }
  .ms--titles .ms-slide {
    transform: scale(0.8);
  }
  .ms--descriptions {
    left: calc(50% - 175px);
    top: calc(75% - 45px);
    background-color: rgba(var(--bg-color1), 0.7);
    text-align: center;
  }
  .ms--links {
    left: calc(50% - 60px);
    top: calc(85% + 30px);
  }
  .pagination {
    left: 50%;
    top: calc(85% + 30px + 5rem);
    transform: translateX(-50%);
  }
}
/* Pour tablette (orientation: paysage) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ms--numbers {
    left: calc(50% - 350px);
    top: calc(5% - 200px);
  }
  .ms--titles {
    left: calc(50% - 175px);
    top: calc(10% - 45px);
    justify-content: center;
    text-align: center;
    font-size: 0.5rem;
  }
  .ms--titles .ms-slide {
    transform: scale(0.8);
  }
  .ms--images {
    left: calc(60% - 350px);
    overflow: visible;
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: -50px;
  }
  .ms--images .ms-slide__image-container {
    width: 75%;
    height: 75%;
  }
  .ms--titles {
    top: calc(5% - 45px);
    font-size: 0.9rem;
  }
  .ms--descriptions {
    left: calc(5% - 175px);
    top: calc(50% - 45px);
    text-align: right;
  }
  .ms--links {
    left: calc(50% - 60px);
    top: calc(80% + 30px);
    text-align: center;
  }
  .pagination {
    left: 50%;
    top: calc(100% + 15px);
    transform: translateX(-50%);
  }
}
/* Pour Laptop (orientation: paysage) */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .ms--images {
    left: calc(60% - 350px);
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: -50px;
  }
  .ms--images .ms-slide__image-container {
    width: 75%;
    height: 75%;
  }
  .ms--numbers {
    left: calc(35% - 350px);
    top: calc(25% - 200px);
  }
  .ms--titles {
    left: calc(10% - 175px);
    top: calc(40% - 45px);
  }
  .ms--descriptions {
    left: calc(6% - 175px);
    top: calc(70% - 45px);
  }
  .ms--links {
    left: calc(20% - 175px);
    top: calc(100% - 45px);
  }
}
/* Pour Screen 4K (orientation: paysage) */
@media all and (min-width: 1441px) {
  .ms--images {
    position: relative;
    overflow: hidden;
  }
  .ms--images.ms-container--horizontal {
    width: 100%;
    height: 800px;
    max-width: 100%;
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: calc(50% - 675px);
  }
  .ms--images.ms-container--horizontal .ms-slide {
    display: inline-flex;
  }
  .ms--images .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ms--images .ms-slide {
    align-items: center;
    justify-content: center;
    width: 1350px;
    height: 800px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .ms--images {
    left: calc(40% - 675px);
  }
  .ms--images.ms-container--horizontal .ms-track {
    left: -50px;
  }
  .ms--images .ms-slide__image-container {
    width: 95%;
    height: 95%;
  }
  .ms--numbers {
    left: calc(35% - 675px);
    top: calc(25% - 400px);
    overflow: visible;
  }
  .ms--titles {
    left: calc(15% - 175px);
    top: calc(25% - 45px);
    font-size: 1.5rem;
    overflow: visible;
    text-align: left;
  }
  .ms--descriptions {
    left: calc(6% - 175px);
    top: calc(70% - 45px);
    overflow: visible;
  }
  .ms--links {
    position: relative;
    overflow: hidden;
  }
  .ms--links.ms-container--vertical {
    width: 350px;
    height: 120px;
    max-height: 100%;
  }
  .ms--links.ms-container--vertical .ms-track {
    flex-direction: column;
    top: calc(50% - 60px);
  }
  .ms--links.ms-container--vertical .ms-slide {
    display: flex;
    flex-direction: column;
  }
  .ms--links .ms-track {
    display: flex;
    position: absolute;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .ms--links .ms-slide {
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 120px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .ms--links {
    left: calc(6% - 175px);
    top: 13rem;
  }
  .pagination {
    left: 45%;
    transform: scale(1.5);
  }
} /*# sourceMappingURL=carousel.css.map */
