@import url(https://fonts.googleapis.com/css?family=Anton);
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --font-title: "Anton", sans-serif;
  --font-text: "Syne Mono", monospace;
  --font-seo-keyword: "VT323", monospace;
  --font-size-base: 18px;
  --font-size-heading: 2em;
  --line-height: 1.6;

  /* Variables RGB pour le mode sombre par défaut */
  --bg-color1: 30, 21, 35; /* #1e1523; */
  --bg-color2: 48, 28, 59; /* #301c3b; */
  --color-button: 81, 36, 84; /*#512454; */
  --color-border: 132, 87, 170; /*#8457aa; */
  --color-solid: 154, 92, 208; /*#9a5cd0; */
  --text-color: 236, 217, 250; /*#ecd9fa; */
}

/* Variables RGB pour le mode clair */
body.light-theme {
  --bg-color1: 247, 237, 254; /* #f7edfe; */
  --bg-color2: 242, 226, 252; /* #f2e2fc; */
  --color-button: 224, 196, 244; /* #e0c4f4; */
  --color-border: 190, 147, 228; /* #be93e4; */
  --color-solid: 131, 71, 185; /* #8347b9; */
  --text-color: 64, 32, 96; /* #402060; */
}

/* Réinitialisation du style par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Styles principaux */
body,
html {
  font-family: var(--font-text);
  font-size: var(--font-size-base);
  overflow-x: hidden;
  overflow-y: auto;
}

h2 {
  font-family: var(--font-title);
  font-size: var(--font-size-heading);
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
  padding-bottom: 2rem;
  color: rgb(var(--text-color));
  text-shadow: 2px 2px 2px rgba(var(--color-solid), 1);
}

h3 {
  font-family: var(--font-seo-keyword);
  font-size: 1.7rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}

p {
  font-size: var(--font-size-base);
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: rgb(var(--text-color));
}

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Styles pour le header*/
header {
  position: relative;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(var(--bg-color2), 0.9);
  border-bottom: 3px solid transparent;
  box-shadow: 0 5px 10px -5px rgba(var(--color-border), 0.6),
    0 5px 15px 0px rgba(var(--color-border), 0.4),
    0 5px 25px 5px rgba(var(--color-border), 0.3);
  transition: transform 0.4s ease;
}

.navbar:hover {
  box-shadow: 0 10px 20px -5px rgba(var(--color-border), 0.8),
    0 10px 25px 5px rgba(var(--color-border), 0.6),
    0 10px 45px 20px rgba(var(--color-border), 0.5);
}

/* Photo */
.portrait-photo {
  width: 100%;
  max-width: 4em;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgb(var(--color-border));
  box-shadow: 2px 2px 8px rgba(var(--text-color), 0.5),
    -2px -2px 8px rgba(var(--bg-color1), 0.5),
    inset 4px 4px 8px rgba(var(--color-border), 0.5),
    inset -4px -4px 8px rgba(var(--bg-color1), 0.5);
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 1.5em;
}

.nav-menu li {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.nav-menu li a {
  color: rgb(var(--text-color));
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease-out;
}

.nav-menu li:hover a {
  color: rgba(var(--color-solid), 0.9);
}

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: rgba(var(--color-border), 0);
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}

.nav-menu li:hover::after {
  width: 100%;
  background-color: rgba(var(--color-border), 0.9);
}

/* Menu Burger */
.burger-menu {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: rgb(var(--color-solid));
}

/* Conteneur du switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.theme-switch-wrapper img {
  height: 25px;
  width: 25px;
}

/* Style de l'élément switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style de la slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(var(--color-button));
  box-shadow: inset 4px 4px 16px rgb(var(--color-solid)),
    inset -4px -4px 16px rgb(var(--bg-color1));
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: rgba(var(--color-solid), 1);
  transition: 0.4s;
  border-radius: 50%;
}

/* Quand le switch est activé */
input:checked + .slider {
  background-color: rgb(var(--color-button));
}

input:checked + .slider:before {
  transform: translateX(35px);
}

/* Style pour un slider arrondi */
.slider.round {
  border-radius: 34px;
  background-color: rgba(var(--color-button), 1);
}

.slider.round:before {
  border-radius: 50%;
  background-color: rgba(var(--text-color), 1);
  box-shadow: 1px 1px 4px rgba(var(--bg-color1), 1),
    -1px -1px 4px rgba(var(--text-color), 1);
}

/* Section titre du site */
.parallax-section {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.title-job,
.title-name,
.hello {
  line-height: 1;
  transition: none;
  text-align: center;
}

.title-job {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  font-family: var(--font-title);
  text-transform: uppercase;
  font-size: 5em;
  color: rgba(var(--text-color), 1);
  transition: opacity 0.5s ease;
}

.title-name {
  font-family: var(--font-text);
  font-size: 4em;
  letter-spacing: 0.1em;
  color: rgba(var(--color-solid), 1);
  text-shadow: 2px 2px 2px rgba(var(--text-color), 0.8);
}

.hello {
  font-family: var(--font-text);
  font-size: 1.8em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 2px rgba(var(--text-color), 0.8);
}

.cursor {
  opacity: 1;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 0.5rem;
  vertical-align: baseline;
  animation: blink 0.7s step-end infinite;
}

/*Bouton skeuomorphic */
.skeuomorphic-btn {
  background-color: rgba(var(--color-button), 1);
  color: rgba(var(--text-color), 1);
  padding: 1rem 2rem;
  margin-top: 3rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Syne Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  box-shadow: 2px 2px 8px rgba(var(--text-color), 1),
    -2px -2px 8px rgba(var(--bg-color1), 1),
    inset 4px 4px 8px rgba(var(--color-border), 1),
    inset -4px -4px 8px rgba(var(--bg-color1), 1);
}

.skeuomorphic-btn:active {
  box-shadow: inset 4px 4px 16px rgba(var(--bg-color2), 1),
    inset -4px -4px 16px rgba(var(--color-solid), 1);
  transform: translateY(2px);
  color: rgba(var(--text-color), 1);
}

.skeuomorphic-btn:hover {
  background-color: rgba(var(--bg-color2), 1);
  color: rgba(var(--color-solid), 1);
  box-shadow: 2px 2px 8px rgba(var(--color-solid), 1),
    -2px -2px 8px rgba(var(--bg-color2), 1),
    inset 4px 4px 8px rgba(var(--color-button), 1),
    inset -4px -4px 8px rgba(var(--bg-color2), 1);
}

/* Section about */
.about-section {
  position: relative;
  overflow: hidden;
  line-height: 5vh;
}

.about-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/bg-about.webp) no-repeat top center fixed;
  background-size: cover;
  background-position: top;
  opacity: 0.5;
  z-index: -1;
}

.block h2 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

/* Card */
.all-qualities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: auto;
  justify-content: center;
}

.quality-container {
  perspective: 30em;
  width: 30%;
  height: 30vh;
  align-self: start;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--bg-color2), 0.5);
  box-shadow: 0 5px 10px -5px rgba(var(--color-border), 0.6),
    0 5px 15px 0px rgba(var(--color-border), 0.4),
    0 5px 25px 5px rgba(var(--color-border), 0.3);
}

.front {
  transform: rotateY(0deg);
}

.front h3 {
  color: rgb(var(--color-solid));
  text-align: center;
}

.back {
  transform: rotateY(180deg);
  padding: 1.2rem;
  background-color: rgba(var(--bg-color2), 0.6);
}

.quality-container.flip .card {
  transform: rotateY(180deg);
}

.icon-quality {
  width: 100%;
  max-width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.seo-kw span {
  font-family: var(--font-seo-keyword);
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  line-height: 1.1rem;
  color: rgba(var(--color-solid), 1);
}

/* Appliquez l’animation au survol */
.quality-container:hover .icon-quality,
.icon-stack-container:hover .icon-stack,
.icon-footer:hover {
  animation: bounce 0.5s infinite;
}

/* Animation de rebond au survol */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Classe initiale pour cacher les éléments avant qu'ils ne deviennent visibles */

.hidden {
  opacity: 0;
  z-index: 10;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Animation pour les titres h2 */
.visible-h2 {
  opacity: 1;
  z-index: 10;
  transform: translateY(0);
  animation: slideUp 1s ease-out forwards;
}

/* Animation pour les paragraphes p avec un léger délai */
.visible-p {
  opacity: 1;
  transform: translateY(0);
  animation: slideUp 1s ease-out forwards;
}

/* Animation pour faire apparaître le bloc depuis le bas */
@keyframes slideUp {
  0% {
    transform: translateY(100px); /* Le bloc commence plus bas */
    opacity: 0; /* Transparent */
  }
  100% {
    transform: translateY(0); /* Le bloc arrive à sa position normale */
    opacity: 1; /* Complètement visible */
  }
}

.carousel-container {
  margin: 0;
  padding: 0;
}

/* cf. style-carousel.scss pour le style de la section projects */

/*Section education */
.education-section {
  padding-top: 2rem;
  background-color: rgba(var(--bg-color2), 1);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

.education-section .block {
  margin-bottom: 5vh;
}

/* styles idem icon-quality */
.all-icons-stack-container {
  display: flex;
  justify-content: space-around;
}

.icon-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  padding: 2em;
}

.icon-stack {
  width: 5em;
  height: 5em;
  transition: transform 0.3s ease;
}

/* Thème sombre */
.dark-theme .icon-dark {
  display: inline;
}

.dark-theme .icon-light {
  display: none;
}

/* Thème clair */
.light-theme .icon-light {
  display: inline;
}

.light-theme .icon-dark {
  display: none;
}

/* Section formulaire de contact */
#contactForm label {
  padding: 5px;
}

form {
  width: 70%;
  height: 80%;
  border: 1px solid rgba(var(--color-solid), 1);
  margin: auto;
  padding: 1em;
  background: none;
  color: rgba(var(--text-color), 1);
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(var(--text-color), 1),
    -2px -2px 4px rgba(var(--bg-color1), 1),
    inset 2px 2px 4px rgba(var(--color-border), 1),
    inset -2px -2px 4px rgba(var(--bg-color1), 1);
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid rgba(var(--color-solid), 1);
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(var(--text-color), 1),
    -2px -2px 4px rgba(var(--bg-color1), 1),
    inset 2px 2px 4px rgba(var(--color-border), 1),
    inset -2px -2px 4px rgba(var(--bg-color1), 1);
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-text);
  color: rgba(var(--color-solid), 1);
  font-size: 1rem;
}

#message {
  height: 30%;
  font-size: 1em;
  overflow: auto;
  resize: vertical;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-solid)) rgb(var(--text-color));
}

#contactForm button {
  display: block;
  justify-content: center;
  width: 100%;
  margin: 1em auto;
  max-width: 35%;
}

/*Footer*/
footer {
  background-color: rgba(var(--bg-color2), 0.9);
  height: 10em;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.all-icons-footer-container {
  display: flex;
  justify-content: center;
}
.icon-footer-container {
  transition: transform 0.3s ease;
}

.icon-footer {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  margin: 10px;
}

/* Appliquez l’animation au survol */
.icon-container:hover .icon-footer {
  animation: bounce 0.5s ease;
}

/* Legal */
.legal {
  display: flex;
  justify-content: center;
  color: rgb(var(--text-color));
  padding: 30px;
}

.legal span:not(:last-child)::after {
  content: " | ";
  padding: 0px 5px;
}

/* Responsive styles */
/* Pour mobile (orientation: portrait) */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  :root {
    --font-size-base: 16px;
    --font-size-heading: 2em;
    --line-height: 1.6;
  }

  /* pour chaque sections */
  .about-section,
  .projects-section,
  .education-section,
  .contact-section {
    height: max-content;
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .projects-section {
    height: 100vh;
  }

  h2 {
    padding-bottom: 2rem;
  }

  .burger-menu {
    display: block;
    transition: top 0.4s ease;
  }

  /* Cacher le menu par défaut sur petits écrans */
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5em;
    left: 0;
    width: 100%;
    background-color: rgba(var(--bg-color2), 0.9);
    padding: 1em;
  }

  .nav-menu li a {
    padding: 1em;
  }

  /* Afficher le menu lorsque le burger est activé */
  .navbar.active .nav-menu {
    display: flex;
  }

  .all-qualities-container {
    flex-direction: column;
  }

  nav {
    height: 15em;
    display: list-item;
  }

  .parallax-section {
    height: 100vh;
  }

  .title-job {
    font-size: 2.5em;
  }
  .title-name {
    font-size: 2.5em;
  }

  .quality-container {
    width: 100%;
    height: 15em;
  }

  .all-icons-stack-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon-stack-container {
    padding: 1em;
  }

  .icon-stack {
    width: 2em;
    height: 2em;
  }

  form {
    width: 100%;
    height: 100%;
    padding: 0.5em;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 0.9rem;
  }

  #message {
    height: 100%;
  }

  #contactForm button {
    max-width: 60%;
  }

  footer {
    height: 5em;
  }
  .legal {
    display: none;
  }
}

/* Pour mobile (orientation: paysage) */
@media only screen and (min-width: 618px) and (max-width: 767px) {
  .projects-section {
    height: 175vh;
  }
}

/* Pour tablette (orientation: paysage) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --font-size-base: 16px;
    --font-size-heading: 2em;
    --line-height: 1.6;
  }

  /* pour chaque sections */
  .about-section {
    height: 150vh;
  }

  .projects-section,
  .education-section,
  .contact-section {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
  }

  .contact-section {
    text-align: left;
  }

  .quality-container {
    width: 45%;
    height: 13em;
  }

  .back {
    padding-top: 2rem;
  }

  .all-icons-stack-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon-stack {
    width: 4em;
    height: 4em;
  }

  form {
    width: 95%;
    height: 85%;
    padding: 1em;
  }

  #message {
    overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--color-solid)) rgb(var(--text-color));
  }

  footer {
    height: 5em;
  }
  .legal {
    display: none;
  }
}

/* Pour Laptop (orientation: paysage) */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  /* pour chaque sections */
  .about-section {
    height: 150vh;
  }
  .quality-container {
    width: 45%;
  }
}

/* Pour Screen 4K (orientation: paysage) */
@media all and (min-width: 1441px) {
  :root {
    --font-size-base: 30px;
    --font-size-heading: 2em;
    --line-height: 1.6;
  }

  .navbar {
    height: 10vh;
  }

  form {
    width: 60%;
    height: 60%;
    transform: scale(1.1);
  }
}
