@import url(https://fonts.googleapis.com/css?family=Anton);
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* Variables pour le mode sombre */
body.dark-theme {
  --bg-color1: #1e1523;
  --bg-color2: #301c3b;
  --color-button: #512454;
  --color-border: #8457aa;
  --color-solid: #9a5cd0;
  --text-color: #ecd9fa;
}

/* Variables pour le mode clair */
body.light-theme {
  --bg-color1: #fefcfe;
  --bg-color2: #f2e2fc;
  --color-button: #e0c4f4;
  --color-border: #be93e4;
  --color-solid: #8347b9;
  --text-color: #402060;
}

/* Réinitialisation du style par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Styles principaux */
body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  background-color: var(--bg-color1);
  color: var(--text-color);
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  line-height: 4em;
  letter-spacing: 0.1em;
}

p {
  margin-bottom: 1.5em;
}

section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Navigationn 
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: var(--bg-color1);
}

.profile-container {
  flex: 0 0 auto;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: var(--color-border) 1px solid;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu li {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.nav-menu a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s ease-out;
}

.nav-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: var(--color-solid);
  transition: width 0.3s ease-out;
}

.nav-menu li:hover::after {
  width: 100%;
}

.nav-menu a:hover {
  color: var(--color-solid);
}

.nav-menu li:hover a {
  color: var(--color-solid);
}

.navbar {
  transition: top 0.3s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Conteneur du switch 
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: red 1px solid;
}

/* Style de l'élément switch 
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  bottom: 5px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style de la slider 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-button);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--text-color);
  transition: 0.4s;
  border-radius: 50%;
}

/* Quand le switch est activé 
input:checked + .slider {
  background-color: var(--color-border);
}

input:checked + .slider:before {
  transform: translateX(35px);
}

/* Style pour un slider arrondi 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Section titre du site 
.parallax-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-job,
.title-name {
  line-height: 1;
  transform: translateY(0px);
  transition: transform 0.1s ease-out;
  margin-bottom: 5vh;
}

.title-job {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.title-name {
  font-family: "Syne Mono", monospace;
  font-size: 8vh;
  line-height: 1;
  letter-spacing: 0.05em;
  transition: all 0.3s ease-in-out;
  color: var(--color-solid);
}

.title-job .dev-web {
  font-size: 11vh;
  transition: all 0.3s ease-in-out 0.3s;
  filter: alpha(opacity=0);
}

#typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--text-color);
  animation: blink 0.7s step-end infinite;
}

/*Bouton voir plus */
.skeuomorphic-btn {
  background-color: var(--color-button);
  color: var(--text-color);
  padding: 15px 30px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 16px var(--bg-color1), -4px -4px 16px var(--color-button);
  transition: all 0.3s ease;
  font-family: "Syne Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.skeuomorphic-btn:active {
  box-shadow: inset 4px 4px 16px var(--bg-color2),
    inset -4px -4px 16px var(--color-solid);
  transform: translateY(2px);
  color: var(--text-color);
}

.skeuomorphic-btn:hover {
  background-color: var(--bg-color2);
  color: var(--color-solid);
}

/* Ajustements pour les petits écrans */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .nav-menu {
    flex-direction: column;
    gap: 10px;
  }
}

.about-section {
  background-color: var(--bg-color2);
  color: var(--text-color);
  opacity: 0.7;
  line-height: 5vh;
}

.seo-kw span {
  font-family: "VT323", monospace;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 22px;
  color: var(--color-solid);
}

/* Classe initiale pour cacher les éléments avant qu'ils ne deviennent visibles */
.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Animation pour les titres h2 */
.visible-h2 {
  animation: slideUp 1s ease-out forwards;
}

/* Animation pour les paragraphes p avec un léger délai */
.visible-p {
  animation: slideUp 1s ease-out forwards;
}

/* Flèche V */
.v-arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.v-arrow {
  width: 40px;
  height: 40px;
}

.v-arrow::before,
.v-arrow::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: var(--color-solid);
}

.v-arrow::before {
  left: 12px;
  transform: rotate(-45deg);
}

.v-arrow::after {
  right: 13px;
  transform: rotate(45deg);
}

@keyframes moveVArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Mouvement vers le bas */
  }
  100% {
    transform: translateY(0); /* Retour à la position initiale */
  }
}

.v-arrow {
  animation: moveVArrow 1s infinite ease-in-out; /* Animation pour le rebond */
}

.projects-section {
  margin: 0rem;
}

#carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 20%;
  top: 30%;
  transform: translate(0%, -50%);
  user-select: none;
}

#image-track > .image {
  width: 15em;
  height: 20em;
  object-fit: cover;
  object-position: 100% center;
  cursor: pointer;
}

.image {
  border-radius: 10px;
  border: 1px solid red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  opacity: 0;
  transition: opacity 0.3s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal[style*="display: flex"] {
  opacity: 1;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  height: 50%;
  width: 50%;
  text-align: center;
  position: relative;
  background-color: var(--text-color);
  color: var(--bg-color2);
  border: 2px solid red;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: var(--color-solid);
}

.slider {
  width: 100%;
  margin-top: 10px;
}
/*Section education */
.education-section {
  background-color: var(--bg-color2);
  opacity: 0.8;
}

#education img {
  height: 100px;
}

#education div {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

#education span {
  font-weight: bold;
}

#contact div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

#contact img {
  height: 30px;
  margin-right: 20px;
}

#contact a {
  color: var(--text-color);
  text-decoration: none;
}

#contact a:hover {
  color: var(--color-solid);
}

/*Footer*/
footer {
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

footer p {
  color: #c4c4c4;
  line-height: 40px;
}

footer a {
  color: #fcc01a;
  line-height: 40px;
  text-decoration: none;
}

footer a:hover {
  color: #190f33;
}

/*

.main-block {
  width: 1024px;
  opacity: 0.9;
  border-radius: 20px;
  margin: 0 auto;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    height: 100px;
    display: list-item;
  }
    
/*@keyframes blink {
  0% { border-right-color: rgba(255, 255, 255, 0.75); }
  50% { border-right-color: transparent; }
  100% { border-right-color: rgba(255, 255, 255, 0.75); }
}*/

/* Animation pour faire apparaître le bloc depuis le bas */
@keyframes slideUp {
  0% {
    transform: translateY(100px); /* Le bloc commence plus bas */
    opacity: 0; /* Transparent */
  }
  100% {
    transform: translateY(0); /* Le bloc arrive à sa position normale */
    opacity: 1; /* Complètement visible */
  }
}
